<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hangman</title>
  </head>
  <body>
    <form class="submitWord" action="/submitWord" method="post">
       <input type="text" name="word" value="">
       <button type="submit" name="button">Submit Word</button>
    </form>
  </body>
</html>
